$maxWidthContainer: 1280;

$minTabletWidth: 576px;
$minDesktopWidth: 992px;

$headerIconSize: 24px;
$headerDesktopIconSize: 50px;
$footerIconSize: 20px;
$headerHeight: $headerIconSize + 30px;
$headerTabletHeight: $headerIconSize + 50px;
$headerDesktopHeight: $headerDesktopIconSize + 80px;

$chooseSectionPadding: 100px;

$amin-time: 300ms;

$black: #333333;
$grey: #8E8D8C;
$lightGrey: #BDBDBD;
$white: #F2F2F2;
$cream: #E4DFD3;
$lightGreen: #8C9772;
$green: #344F10;
$red: #EB5757;
