.menu {
  padding-top: $headerHeight + 25px;
  background-color: $black;

  @include onDesktop {
    display: none;
  }

  &__item {
    margin-bottom: 30px;
    border-bottom: 1px solid $lightGrey;
    padding-bottom: 10px;
    text-align: center;
  }

  &__link {
    font-size: 18px;
    font-weight: 600;
    line-height: 130%;
    color: $cream;
  }
}
