.pros {
  @extend %uppercase-text;
  letter-spacing: 0.7px;
  text-align: center;

  &__list {
    display: grid;
    gap: 50px;

    @include onTablet {
      grid-auto-flow: column;
      gap: 30px;
    }

    @include onDesktop {
      gap: 20px;
    }
  }

  &__card {
    display: grid;
    gap: 20px;

    @include onTablet {
      align-self: baseline;
    }
  }

  &__img {
    justify-self: center;
    display: block;
    width: 80px;
    height: 75px;
    object-fit: contain;
    object-position: top;
  }
}
